* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: inherit;
  background: initial;
  border: initial;
}

.content {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: 10px;
}

body {
  min-height: 100dvh;
  background-color: #06171e;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100dvh - 72px - 90px);
}

/* HEADER */

header {
  background-color: #09212a;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  #fotogram-logo {
    width: clamp(25px, 4dvw, 40px);
  }

  #fotogram-logo-name {
    width: clamp(120px, 4dvw, 100px);
  }
}

/* MAIN CONTENT  */

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0 40px 0;

  h1 {
    font-family: "figtree";
    color: white;
    font-size: clamp(25px, 4dvw, 40px);
    text-align: center;
  }

  #image-gallery {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

    img {
      width: 130px;
      height: 130px;
      object-fit: cover;
      display: block;
      border-radius: 15px;
      border: 2px solid #124658;
      :hover {
        border: 3px solid;
      }
    }
  }
}

/* DIALOG */

/* DIALOG */

#myDialog {
  width: 350px;
  max-width: 90%;
  padding: 16px;
  border-radius: 32px;
  background-color: #09212a;
  color: white;
  margin: auto;

  &::backdrop {
    background: rgba(51, 51, 51, 0.5);
  }
}

.dialog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  #dialogTitle {
    font-family: "figtree";
    font-size: 24px;
    font-weight: 700;
  }

  .close-btn {
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    transition:
      background-color 0.2s ease,
      transform 0.2s ease;
  }

  .close-btn:hover {
    background-color: #2a4653;
    transform: scale(1.05);
  }
}

.dialog-image-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  #dialogImage {
    width: 100%;
    max-width: 360px;
    height: 240px;
    object-fit: cover;
    display: block;
  }
}

.dialog-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .arrow-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #a02a3023;
    color: #d14c45;
    font-size: 24px;
    cursor: pointer;
    transition:
      background-color 0.2s ease,
      transform 0.2s ease,
      color 0.2s ease;
  }

  .arrow-btn:hover {
    background-color: #9b36365d;
    color: #ff6a61;
    transform: scale(1.05);
  }

  #dialogCount {
    font-size: 16px;
    color: white;
  }
}

/* FOOTER */

footer {
  width: 100%;
  height: 100%;
  border-radius: 70% 70% 0 0/ 30% 30% 0 0;
  background-color: #09212a;
  margin-top: auto;

  .footer-wrapper {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .da-logo img {
    width: clamp(100px, 15dvw, 120px);
  }

  .copyright {
    font-family: figtree;
    color: #99acb3;
    font-size: 14px;
  }
}

/* MEDIA QUERIES */

/* DESKTOP */
@media (max-width: 1439px) {
  #image-gallery {
    max-width: 1200px;
  }
}

/* TABLET */
@media (max-width: 990px) {
  #image-gallery {
    gap: 15px;
    max-width: 900px;
  }
}

@media (min-width: 768px) {
  header {
    .header-logo {
      justify-content: flex-start;
      padding-left: 100px;
    }
  }
}
@media (min-width: 1440px) {
  .content {
    max-width: 1400px;
  }

  header {
    justify-content: flex-start;
  }

  .content-wrapper {
    padding: 80px 0;
    gap: 48px;

    #image-gallery {
      gap: 30px;
    }

    #image-gallery img {
      width: 150px;
      height: 150px;
    }

    #myDialog {
      width: 680px;
      max-width: 675px;
      padding: 40px;
    }

    #dialogImage {
      max-width: 560px;
      height: 374px;
    }
  }
}
